@use '../abstract/variables';
@use '../abstract/mixins';

.login {
    padding-top: 24px;
    padding-left: 45px;
    padding-right: 45px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;

    &__header {
        justify-content: center;
        border-bottom: none;

        &--bottom{
            border-bottom: 3px solid #FE5F3B;
        }
    }

    &__title {
        //margin-bottom: 45px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 19px;
        text-align: center;
        color: variables.$orange-600;
    }

    &__label {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    &__remember {
        margin-top: 18px;
        margin-bottom: 18px;
    }

    &__body{
        padding-top: 65px;
        padding-bottom: 65px;
    }

    &__footer {
        border-top: 3px solid #FE5F3B;
    }

    .btn-close{
        width: 32px!important;
        height: 32px!important;
        padding: 0;
        background: transparent url(/assets/icons/icon-close.webp) center no-repeat;
    }


}