@use './mixins';
@use './variables';

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    font-family: variables.$font-quicksand;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
    font-family: variables.$font-lato;
    font-style: normal;
    margin-bottom: 0;
 }

 h2,
 h3,
 h4,
 h5,
 h6{
   color: variables.$black-700;
 }

 p, a {
    font-family: variables.$font-quicksand;
 }

 a{
   &:hover{
      color: variables.$orange-900!important;
   }
 }