@use './variables';

@mixin btn-movebike() {
    border-radius: 1000px;
    border: 1px solid variables.$orange-900;

    &.contained {
        background-color: variables.$orange-900;
        color: variables.$white!important;
        //filter: drop-shadow(0px 4px 18px rgba(0, 0, 0, 0.18));
        &:hover{
            background-color: transparent;
            color: variables.$orange-900!important;
            border: 1px solid variables.$orange-900;
        }
    }

    &.outlined {
        background-color: transparent;
        color: variables.$orange-900;
        border: 1px solid variables.$orange-900;

        &:hover {
            background-color: variables.$orange-900;
            color: variables.$white!important;
        }
    }

    &.link {
        border: none;
        font-family: variables.$font-quicksand;
        background-color: transparent;
        color: variables.$orange-600;
        font-family: 20px;
        font-weight: 600;
        line-height: 27px;

        &:hover {
            color: variables.$black-800;
        }
    }
}

@mixin responsive($breakpoint) {
    @if ($breakpoint ==variables.$small) {
        @media screen and (min-width: variables.$small) {
            @content;
        }
    }

    @if ($breakpoint ==variables.$medium) {
        @media screen and (min-width: variables.$medium) {
            @content;
        }
    }

    @if ($breakpoint ==variables.$large) {
        @media screen and (min-width: variables.$large) {
            @content;
        }
    }

    @if ($breakpoint ==variables.$extra-large) {
        @media screen and (min-width: variables.$extra-large) {
            @content;
        }
    }

    @if ($breakpoint ==variables.$extra-extra-large) {
        @media screen and (min-width: variables.$extra-extra-large) {
            @content;
        }
    }

    @if ($breakpoint ==variables.$extra-4k) {
        @media screen and (min-width: variables.$extra-4k) {
            @content;
        }
    }
}