@use './variables';
@use './mixins';

.mv-h1 {
    font-family: variables.$font-lato;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: variables.$white;
}

.mv-h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: variables.$black-700;
}

.text-orange-900 {
    color: variables.$orange-900;
}

.text-orange-600 {
    color: variables.$orange-600;
}

.text-black-800 {
    color: variables.$black-800;
}

.text-black-700 {
    color: variables.$black-700;
}

.text-black-600 {
    color: variables.$black-600;
}

.text-gray-600 {
    color: variables.$gray-600;
}

.text-gray-400 {
    color: variables.$gray-400;
}

.color-bg-gray {
    background-color: #F7F7F7;
}

.Mui-selected {
    background-color: variables.$orange-900 !important;
}

.w-200 {
    width: 200px;
}

.Mui-checked {
    color: variables.$orange-900 !important;
}

.MuiRadio-root:hover {
    background-color: rgb(196 130 88 / 4%);
}

.MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    font-size: 12px !important;
}

.MuiInputBase-root:hover {
    color: variables.$orange-900 !important;
    border-color: variables.$orange-600;
}

// .Mui-focused,
// .MuiInputLabel-outlined,
// .MuiFormLabel-colorPrimary,
// .MuiFormLabel-root {
//     color: variables.$orange-900 !important;
//     border-color: variables.$orange-900 !important;
// }

// .MuiSelect-select, .MuiSelect-outlined, .MuiInputBase-input, .MuiOutlinedInput-input {
//     color: variables.$orange-900 !important;
//     border-color: variables.$orange-900 !important;

// }

// .MuiInputBase-root, .MuiOutlinedInput-root, .MuiInputBase-colorPrimary, .Mui-focused, .MuiInputBase-formControl {
//     border-color: variables.$orange-900 !important;
// }

// .datepicker:focus{
//     border-color: variables.$orange-900 !important;
// }

// // , .MuiInputLabel-root, .MuiInputLabel-formControl, .MuiInputLabel-animated, .MuiInputLabel-shrink, .MuiInputLabel-outlined, .MuiFormLabel-colorPrimary, .Mui-focused, .MuiInputLabel-root, .MuiInputLabel-formControl, .MuiInputLabel-animated, .MuiInputLabel-shrink, .MuiInputLabel-outlined 

// .MuiFormLabel-root{
//     color: variables.$orange-900 !important;
//     border-color: variables.$orange-900 !important;

//     &:focus{
//         color: variables.$orange-900 !important;
//         border-color: variables.$orange-900 !important;
//     }

//     &:hover {
//         color: variables.$orange-900 !important;
//         border-color: variables.$orange-900 !important;
//     }
// }

.MuiSvgIcon-root{
    color: variables.$orange-900!important;
}