@use './variables';
@use './mixins';
.mv-h1{
    font-family: variables.$font-lato;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: variables.$white;
}

.swiper {
    padding-top: 36px;
    padding-bottom: 60px;
    @include mixins.responsive(variables.$large){
        
    padding-left: 40px;
    padding-right: 40px;
    }
}