// colors
$orange-900: #FE5F3B;
$orange-600: #FC705F;

$white: #FFFFFF;

$black-800: #424242;
$black-700: #616161;
$black-600: #757575;
$gray-600: #9E9E9E;
$gray-500: #90A4AE;
$gray-background: #CFCFCF;

// fonts
$font-lato: 'Lato', sans-serif;
$font-quicksand: 'Quicksand', sans-serif;;



// Breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$extra-extra-large: 1400px;
$extra-4k: 2560px;