@use "../../abstract/mixins";
@use "../../abstract/variables";

.routes {
  &__headding {
    font-size: 24px;

    @include mixins.responsive(variables.$medium) {
      font-size: 28px;
    }

    @include mixins.responsive(variables.$large) {
      font-size: 32px;
    }
  }

  &__subtitle {
    max-width: 650px;
    margin: 0 auto;
    font-family: variables.$font-quicksand;
  }
  &__atractions {
    background-color: variables.$white-background;
  }

  &__text {
    text-align: justify;
  }
}

.bg-header {
  background: radial-gradient(
      208.75% 66.05% at 0% 0%,
      rgba(238, 113, 21, 0.32) 69.42%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(/assets/landing/routes/bg-header-routes.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 325px;
  object-fit: cover;

  @include mixins.responsive(variables.$large) {
    background: radial-gradient(
        84.08% 95.9% at 32.79% 12.64%,
        rgba(238, 113, 21, 0.56) 40.58%,
        rgba(0, 0, 0, 0) 92.65%
      ),
      url(/assets/landing/routes/bg-header-routes.jpg);
  }
}

.btn-im {
  padding: 0 !important;
  border: none;
  background: none;
}
.icon-heart {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 15px;
  background-color: variables.$gray-background;
  width: 30px;
  height: 30px;
  transition: all 0.2s ease;

  &:hover {
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.3);
    transition-delay: 0.08s;
    cursor: pointer;

  }

  &:focus-visible {
    outline: transparent;
  }

  &__active {
    &:hover {
      box-shadow: 4px 4px 12px rgba(255, 79, 90, 0.7);
      transition-delay: 0.08s;
      cursor: pointer;
    }

    &:focus-visible {
      outline: white;
    }
    transition: all 0.2s ease;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ff4f5a;
    border-radius: 50%;
    margin-bottom: 15px !important;
    width: 30px;
    height: 30px;
  }
}

.overlay {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 52px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.515625) 48.44%,
    #ffffff 99.99%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: blur(0.5px);
}

.single-route {
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mixins.responsive(variables.$large) {
        min-height: 325px;
    }

    &__bg-image {
        z-index: -1;
        max-height: 425px;
        width: 100%;
        object-fit: cover;

    }

    &__title {
        position: absolute;
        
        h1{
            z-index: 15px;
        color: variables.$white;
        font-family: variables.$font-quicksand;
        }

        p {
            max-width: 550px;
            margin-bottom: 0;
        }
    }

    &__subheading {
        margin-top: 14px;
        margin-bottom: 18px;
        text-align: center;

        @include mixins.responsive(variables.$large) {
            margin-top: 32px;
            margin-bottom: 32px;
        }
    }

    &__description {
      text-align: justify;
    }
}
